In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv("Chelsea Bridge Final.csv",encoding= 'unicode_escape')

In [34]:
#Converting 4 date time columns into datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])
df['End Time'] = pd.to_datetime(df['End Time'])
df['ETA Bridge'] = pd.to_datetime(df['ETA Bridge'])
df['Email Sent'] = pd.to_datetime(df['Email Sent'])
df.dtypes

Vehicle  ID                object
Lift ID                   float64
Vessel(s)                  object
ETA Bridge         datetime64[ns]
Direction                  object
Email Sent         datetime64[ns]
Advanced Notice            object
2 Hours Notice?            object
Start Time         datetime64[ns]
End Time           datetime64[ns]
Duration                   object
Direction.1                object
Vessel(s).1                object
dtype: object

In [100]:
#Create a new column to find the difference between predicted and actual time
df['Predict Error'] =  df['ETA Bridge'] - df['Start Time']
df[df['Predict Error']>'00:00:00']

,Vehicle ID,Lift ID,Vessel(s),ETA Bridge,Direction,Email Sent,Advanced Notice,2 Hours Notice?,Start Time,End Time,Duration,Direction.1,Vessel(s).1,Predict Error,Notice Time
0,19002,NaN,1 TUG / BARGE,2019-05-06 15:30:00,IN,2019-05-06 05:56:00,9:34,ACCEPTABLE,2019-05-06 15:12:00,2019-05-06 15:30:00,0:18,IN,Freedom / Christian Reiner / RTC 145,0 days 00:18:00,-1 days +14:44:00
1,19002,NaN,1 TUG,2019-05-06 16:30:00,OUT,2019-05-06 05:56:00,10:34,ACCEPTABLE,2019-05-06 16:02:00,2019-05-06 16:20:00,0:18,OUT,Freedom,0 days 00:28:00,-1 days +13:54:00
2,19002,NaN,1 TUG,2019-05-07 18:30:00,IN,2019-05-07 04:08:00,14:22,ACCEPTABLE,2019-05-07 17:52:00,2019-05-07 18:06:00,0:14,IN,Freedom / DBL 104 / Denali,0 days 00:38:00,-1 days +10:16:00
3,19002,NaN,1 TUG / BARGE,2019-05-07 19:00:00,OUT,2019-05-07 04:08:00,14:52,ACCEPTABLE,2019-05-07 18:25:00,2019-05-07 18:38:00,0:13,OUT,Freedom / DBL 104 / Denali,0 days 00:35:00,-1 days +09:43:00
4,19003,NaN,1 TUG / BARGE,2019-05-07 19:45:00,IN,2019-05-07 04:08:00,15:37,ACCEPTABLE,2019-05-07 18:55:00,2019-05-07 19:10:00,0:15,IN,Freedom,0 days 00:50:00,-1 days +09:13:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2866,20440,2876.0,3 TUGS / TANKER,2021-08-10 05:35:00,OUT,2021-08-10 05:13:00,0:22,TOO LATE,2021-08-10 05:30:00,2021-08-10 05:45:00,0:15,OUT,Freedom/ Justice / Liberty / Nor Easter,0 days 00:05:00,-1 days +23:43:00
2867,20441,2877.0,1 TUG / BARGE,2021-08-10 07:05:00,IN,2021-08-10 05:13:00,1:52,ACCEPTABLE,2021-08-10 06:35:00,2021-08-10 06:52:00,0:17,IN,RTC 82 / Franklin Reinauer / Freedom,0 days 00:30:00,-1 days +22:38:00
2868,20441,2878.0,1 TUG / BARGE,2021-08-10 07:40:00,OUT,2021-08-10 05:13:00,2:27,ACCEPTABLE,2021-08-10 07:19:00,2021-08-10 07:40:00,0:21,OUT,RTC 82 / Franklin Reinauer / Freedom/ RTC 105 ...,0 days 00:21:00,-1 days +21:54:00
2869,20442,2880.0,1 TUG / BARGE,2021-08-11 20:00:00,OUT,2021-08-11 14:25:00,5:35,ACCEPTABLE,2021-08-11 19:43:00,2021-08-11 19:56:00,0:13,OUT,Nicole Reinauer / Justice / RTC 135,0 days 00:17:00,-1 days +18:42:00
2870,20443,2881.0,1 TUG / BARGE,2021-08-11 22:30:00,IN,2021-08-11 14:25:00,8:05,ACCEPTABLE,2021-08-11 21:55:00,2021-08-11 22:08:00,0:13,OUT,Nicole Reinauer / Justice / RTC 103,0 days 00:35:00,-1 days +16:30:00

In [135]:
df[df['Predict Error'] < "0 days"]['Predict Error']#.dt.seconds

14     -1 days +23:36:00
16     -1 days +23:54:00
17     -1 days +23:35:00
18     -1 days +23:36:00
20     -1 days +23:35:00
              ...
2858   -1 days +23:35:00
2859   -1 days +23:06:00
2860   -1 days +23:00:00
2862   -1 days +23:47:00
2863   -1 days +23:30:00
Name: Predict Error, Length: 1300, dtype: timedelta64[ns]

In [142]:
df.groupby('Direction')['Predict Error'].describe()

,count,mean,std,min,25%,50%,75%,max
Direction,,,,,,,,
IN,1397,0 days 00:06:54.244810307,0 days 04:18:18.699735836,-2 days +23:30:00,-1 days +23:52:00,0 days 00:02:00,0 days 00:11:00,4 days 23:55:00
IN,36,0 days 00:01:46.666666666,0 days 00:30:03.830844144,-1 days +21:42:00,0 days 00:00:00,0 days 00:10:00,0 days 00:12:30,0 days 00:42:00
IN / OUT,4,0 days 00:17:00,0 days 00:27:36.260849021,-1 days +23:50:00,-1 days +23:56:45,0 days 00:14:00,0 days 00:34:15,0 days 00:50:00
IN /OUT,1,0 days 00:20:00,NaT,0 days 00:20:00,0 days 00:20:00,0 days 00:20:00,0 days 00:20:00,0 days 00:20:00
IN/ OUT,3,0 days 00:19:40,0 days 00:23:01.738035953,0 days 00:00:00,0 days 00:07:00,0 days 00:14:00,0 days 00:29:30,0 days 00:45:00
IN/OUT,1,0 days 00:17:00,NaT,0 days 00:17:00,0 days 00:17:00,0 days 00:17:00,0 days 00:17:00,0 days 00:17:00
OUT,1404,-1 days +23:51:02.905982906,0 days 02:54:13.071511403,-2 days +23:03:00,-1 days +23:45:00,-1 days +23:59:00,0 days 00:10:00,3 days 00:10:00
OUT,1,-1 days +23:37:00,NaT,-1 days +23:37:00,-1 days +23:37:00,-1 days +23:37:00,-1 days +23:37:00,-1 days +23:37:00
in,1,0 days 00:10:00,NaT,0 days 00:10:00,0 days 00:10:00,0 days 00:10:00,0 days 00:10:00,0 days 00:10:00

In [108]:
df.groupby(['Vessel(s)'])['Predict Error'].mean()

Vessel(s)
 1 TUG                                     -1 days +23:48:00
 1 TUG / BARGE                               0 days 00:00:00
 3 TUG                                       0 days 00:18:30
1 BARGE                                      0 days 00:12:00
1 TUG                              0 days 00:04:30.401069518
1 TUG                                        0 days 00:02:28
1 TUG / 1 BARGE                    0 days 00:12:20.465116279
1 TUG / 1 BARGE\n3 TUGS                    -1 days +23:59:00
1 TUG / 1 BARGE OUT\n3 TUGS IN               0 days 00:29:00
1 TUG / 1 TANKER                             0 days 00:04:00
1 TUG / BARGE                    -1 days +23:48:17.531914894
1 TUG / BARGE                    -1 days +23:57:20.540540541
1 TUGÂ                                       0 days 00:01:00
1TUG                                         0 days 00:16:00
2 TUG                              0 days 00:07:11.559633027
2 TUG / 1 BARGE                            -1 days +23:45:00
2 TUG / 2 BARGE                            -1 days +23:50:00
2 TUG / 2 BARGE                            -1 days +23:45:00
2 TUG / BARGE                    -1 days +23:47:46.153846154
2 TUG / BARGE                              -1 days +23:35:00
2 TUG / TANKER                               0 days 00:38:00
2 TUGS                                     -1 days +23:59:20
2 TUGS / 2 BARGE                             0 days 00:05:00
2 TUGS / 2 BARGES                          -1 days +23:45:00
2 TUGS / TANKER                            -1 days +23:36:00
2 WORK BARGE/BOAT                          -1 days +23:52:30
2X - 1 TUG / 1 BARGE                         0 days 00:00:00
3 TUG                              0 days 00:05:18.691099476
3 TUG\n1 TUG / BARGE                         0 days 00:50:00
3 TUG                              0 days 00:16:42.857142857
3 TUG & 1 TUG / 1 BARGE                      0 days 00:20:00
3 TUG / 1 BARGE                            -1 days +22:02:20
3 TUG / 1 TANKER                             0 days 00:09:00
3 TUG / BARGE                              -1 days +23:55:00
3 TUG / BARGE & 1 TUG / BARGE                0 days 00:04:00
3 TUG / TANKER                     0 days 00:06:03.272727272
3 TUG/ TANKER                                0 days 00:20:00
3 TUGS                             0 days 00:00:55.294117647
3 TUGS / BARGE                             -1 days +23:51:00
3 TUGS / TANKER                  -1 days +23:56:04.162679426
3 TUGS / TANKER / BARGE                      0 days 00:00:00
3 TUGs / TANKER                              0 days 00:14:00
3TUGS / TANKER                               0 days 00:00:00
4 TUG                                        0 days 00:30:45
4 TUGS / TANKER / BARGE                    -1 days +23:57:00
BOAT                                       -1 days +23:35:00
BUNKER BARGE                                 0 days 00:07:00
WORK BARGE / BOAT                          -1 days +23:59:40
WORK BARGE/BOAT                  -1 days +23:52:57.692307693
Â 1 TUG / 1 BARGE                          -1 days +23:54:00
Name: Predict Error, dtype: timedelta64[ns]

In [109]:
df.describe()

           Lift ID                Predict Error                  Notice Time
count  2672.000000                         2871                         2869
mean   1422.845060  -1 days +23:59:00.480668757  -1 days +08:15:40.927152318
std     822.514817    0 days 03:37:39.285910021   11 days 19:36:55.956057887
min       1.000000            -2 days +23:03:00          -367 days +21:45:00
25%     713.750000            -1 days +23:48:00            -1 days +15:32:00
50%    1418.500000              0 days 00:00:00            -1 days +19:11:00
75%    2136.250000              0 days 00:10:00            -1 days +21:08:00
max    2881.000000              4 days 23:55:00              4 days 14:49:00

In [74]:
df.loc[2079,]

Vehicle  ID                      20291
Lift ID                         2013.0
Vessel(s)                        1 TUG
ETA Bridge         2020-11-25 04:40:00
Direction                           IN
Email Sent         2020-11-24 19:34:00
Advanced Notice                   9:06
2 Hours Notice?             ACCEPTABLE
Start Time         2020-11-20 04:45:00
End Time           2020-11-20 05:00:00
Duration                          0:15
Direction.1                         IN
Vessel(s).1           Zachery Reinauer
Predict Error          4 days 23:55:00
Notice Time          -5 days +09:11:00
Name: 2079, dtype: object

In [98]:
df['Notice Time'] = df['Email Sent'] - df['Start Time']
df[df['2 Hours Notice?'] == 'TOO LATE']['Notice Time']
df[df['Advanced Notice'] == '1:00']

,Vehicle ID,Lift ID,Vessel(s),ETA Bridge,Direction,Email Sent,Advanced Notice,2 Hours Notice?,Start Time,End Time,Duration,Direction.1,Vessel(s).1,Predict Error,Notice Time
439,19138,263.0,1 TUG,2019-08-20 06:00:00,IN,2019-08-19 05:00:00,1:00,ACCEPTABLE,2019-08-20 05:45:00,2019-08-20 06:00:00,0:15,IN,Liberty,0 days 00:15:00,-2 days +23:15:00
1152,20036,1009.0,1 TUG,2020-02-05 04:05:00,IN,2020-02-05 03:05:00,1:00,ACCEPTABLE,2020-02-05 03:45:00,2020-02-05 03:50:00,0:05,IN,Freedom,0 days 00:20:00,-1 days +23:20:00
2845,20433,2852.0,1 TUG,2021-08-01 10:15:00,IN,2021-08-01 09:15:00,1:00,ACCEPTABLE,2021-08-01 10:47:00,2021-08-01 10:56:00,0:09,IN,Justice,-1 days +23:28:00,-1 days +22:28:00

In [37]:
#TODO: 
#1. Figure out the condition for 2 hr notice column
#2. Split up the datetime in Start datetime into day, month and year
#3 Incorporate the weather as a feature
#4 Convert time data into deltatime 
#5 Split Vessel(s) columns into 3 different columns

In [38]:
df.iloc[[0,-1],]

,Vehicle ID,Lift ID,Vessel(s),ETA Bridge,Direction,Email Sent,Advanced Notice,2 Hours Notice?,Start Time,End Time,Duration,Direction.1,Vessel(s).1,Predict Error,Notice Time
0,19002,NaN,1 TUG / BARGE,2019-05-06 15:30:00,IN,2019-05-06 05:56:00,9:34,ACCEPTABLE,2019-05-06 15:12:00,2019-05-06 15:30:00,0:18,IN,Freedom / Christian Reiner / RTC 145,0 days 00:18:00,0 days 09:16:00
2870,20443,2881.0,1 TUG / BARGE,2021-08-11 22:30:00,IN,2021-08-11 14:25:00,8:05,ACCEPTABLE,2021-08-11 21:55:00,2021-08-11 22:08:00,0:13,OUT,Nicole Reinauer / Justice / RTC 103,0 days 00:35:00,0 days 07:30:00

### Bringing weather data from 2019-05-06 to 2021-08-11

##### Data Cleaning

In [39]:
w_df = pd.read_csv('boston 2019-05-06 to 2021-08-11.csv')
w_df.shape

(829, 33)

In [40]:
#Dropping columnes with all null values precipprob, preciptype, solarradiation, solarenergy, severerisk.
w_df.isnull().sum()
w_df_clean = w_df.dropna(how='all', axis=1).copy()
w_df_clean.columns

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipcover',
       'snow', 'snowdepth', 'windgust', 'windspeed', 'winddir',
       'sealevelpressure', 'cloudcover', 'visibility', 'uvindex', 'sunrise',
       'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')

In [41]:
w_df_clean.isnull().sum()

name                  0
datetime              0
tempmax               0
tempmin               0
temp                  0
feelslikemax          0
feelslikemin          0
feelslike             0
dew                   0
humidity              0
precip                0
precipcover           0
snow                  0
snowdepth             0
windgust            131
windspeed             0
winddir               0
sealevelpressure      0
cloudcover            0
visibility            0
uvindex               0
sunrise               0
sunset                0
moonphase             0
conditions            0
description           0
icon                  0
stations              0
dtype: int64

In [42]:
df['Start Time'].dt.dayofweek

0       0
1       0
2       1
3       1
4       1
       ..
2866    1
2867    1
2868    1
2869    2
2870    2
Name: Start Time, Length: 2871, dtype: int64

In [43]:
w_df_clean.describe()

,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipcover,snow,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,uvindex,moonphase
count,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,698.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.0,829.000000
mean,62.439324,48.489023,55.256454,61.032690,44.400241,52.554644,41.882147,63.494089,0.121749,12.222014,0.085476,0.629916,28.278367,17.766104,206.963932,1015.944511,57.114475,9.172738,0.0,0.499517
std,17.739547,16.083889,16.547234,20.522929,20.376474,20.105871,18.035072,15.347125,0.298856,20.322189,0.547978,2.185969,7.696937,5.898900,67.415326,7.797150,22.378426,1.428465,0.0,0.308433
min,17.100000,6.900000,13.000000,1.100000,-14.600000,-5.300000,-6.100000,25.640000,0.000000,0.000000,0.000000,0.000000,16.100000,6.800000,28.700000,983.900000,1.100000,2.600000,0.0,0.000000
25%,47.200000,35.500000,41.400000,43.400000,27.500000,35.100000,28.100000,52.200000,0.000000,0.000000,0.000000,0.000000,22.600000,13.700000,165.000000,1010.800000,39.800000,9.300000,0.0,0.250000
50%,63.000000,48.900000,56.200000,63.000000,45.300000,56.000000,43.600000,63.710000,0.000000,0.000000,0.000000,0.000000,26.500000,16.800000,213.800000,1015.700000,55.100000,9.900000,0.0,0.500000
75%,76.800000,62.900000,69.000000,76.800000,62.900000,69.100000,57.800000,75.160000,0.080000,16.670000,0.000000,0.000000,32.200000,20.600000,257.700000,1021.100000,74.700000,9.900000,0.0,0.750000
max,98.000000,82.900000,89.800000,107.300000,86.500000,98.100000,74.300000,96.060000,2.010000,100.000000,8.120000,14.170000,73.200000,76.900000,343.600000,1038.400000,100.000000,9.900000,0.0,1.000000

In [143]:
w_df_clean.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,cloudcover,visibility,uvindex,sunrise,sunset,moonphase,conditions,description,icon,stations
0,boston,2019-05-06,57.9,48.6,52.4,57.9,43.5,50.7,43.9,73.29,...,51.1,9.9,0,2019-05-06T05:33:16,2019-05-06T19:49:09,0.01,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"KOWD,72509854704,KMQE,KBOS,72509014739,7250591..."
1,boston,2019-05-07,73.1,45.9,60.1,73.1,43.4,59.3,45.4,60.28,...,39.0,9.7,0,2019-05-07T05:32:02,2019-05-07T19:50:14,0.04,"Rain, Partially cloudy",Becoming cloudy in the afternoon with late aft...,rain,"KOWD,72509854704,KMQE,KBOS,72509014739,7250591..."
2,boston,2019-05-08,61.9,52.0,56.8,61.9,52.0,56.8,44.8,64.87,...,40.0,9.9,0,2019-05-08T05:30:49,2019-05-08T19:51:20,0.07,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"KOWD,72509854704,KMQE,KBOS,72509014739,7250591..."
3,boston,2019-05-09,54.3,46.8,52.2,54.3,43.4,51.7,34.4,50.84,...,43.2,9.9,0,2019-05-09T05:29:38,2019-05-09T19:52:24,0.11,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"KOWD,72509854704,KMQE,KBOS,72509014739,7250591..."
4,boston,2019-05-10,65.8,51.1,56.8,65.8,51.1,56.8,45.5,66.63,...,88.4,9.9,0,2019-05-10T05:28:28,2019-05-10T19:53:29,0.16,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,rain,"KOWD,72509854704,KMQE,KBED,KBOS,72509014739,72..."

In [ ]:
def weather_match(weather_data,bridge_data):
    for i in range(len(weather_data)):

In [162]:
df[(df['Start Time'] >= '2019-05-06') & (df['Start Time'] < '2019-05-07')]

,Vehicle ID,Lift ID,Vessel(s),ETA Bridge,Direction,Email Sent,Advanced Notice,2 Hours Notice?,Start Time,End Time,Duration,Direction.1,Vessel(s).1,Predict Error,Notice Time
0,19002,NaN,1 TUG / BARGE,2019-05-06 15:30:00,IN,2019-05-06 05:56:00,9:34,ACCEPTABLE,2019-05-06 15:12:00,2019-05-06 15:30:00,0:18,IN,Freedom / Christian Reiner / RTC 145,0 days 00:18:00,-1 days +14:44:00
1,19002,NaN,1 TUG,2019-05-06 16:30:00,OUT,2019-05-06 05:56:00,10:34,ACCEPTABLE,2019-05-06 16:02:00,2019-05-06 16:20:00,0:18,OUT,Freedom,0 days 00:28:00,-1 days +13:54:00