In [2]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("Chelsea Bridge Final.csv",encoding= 'unicode_escape')

,Vehicle ID,Lift ID,Vessel(s),ETA Bridge,Direction,Email Sent,Advanced Notice,2 Hours Notice?,Start Time,End Time,Duration,Direction.1,Vessel(s).1
0,19002,NaN,1 TUG / BARGE,2019-05-06 15:30:00,IN,5/6/2019 5:56,9:34,ACCEPTABLE,2019-05-06 15:12:00,2019-05-06 15:30:00,0:18,IN,Freedom / Christian Reiner / RTC 145
1,19002,NaN,1 TUG,2019-05-06 16:30:00,OUT,5/6/2019 5:56,10:34,ACCEPTABLE,2019-05-06 16:02:00,2019-05-06 16:20:00,0:18,OUT,Freedom
2,19002,NaN,1 TUG,2019-05-07 18:30:00,IN,5/7/2019 4:08,14:22,ACCEPTABLE,2019-05-07 17:52:00,2019-05-07 18:06:00,0:14,IN,Freedom / DBL 104 / Denali
3,19002,NaN,1 TUG / BARGE,2019-05-07 19:00:00,OUT,5/7/2019 4:08,14:52,ACCEPTABLE,2019-05-07 18:25:00,2019-05-07 18:38:00,0:13,OUT,Freedom / DBL 104 / Denali
4,19003,NaN,1 TUG / BARGE,2019-05-07 19:45:00,IN,5/7/2019 4:08,15:37,ACCEPTABLE,2019-05-07 18:55:00,2019-05-07 19:10:00,0:15,IN,Freedom
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2866,20440,2876.0,3 TUGS / TANKER,2021-08-10 05:35:00,OUT,8/10/2021 5:13,0:22,TOO LATE,2021-08-10 05:30:00,2021-08-10 05:45:00,0:15,OUT,Freedom/ Justice / Liberty / Nor Easter
2867,20441,2877.0,1 TUG / BARGE,2021-08-10 07:05:00,IN,8/10/2021 5:13,1:52,ACCEPTABLE,2021-08-10 06:35:00,2021-08-10 06:52:00,0:17,IN,RTC 82 / Franklin Reinauer / Freedom
2868,20441,2878.0,1 TUG / BARGE,2021-08-10 07:40:00,OUT,8/10/2021 5:13,2:27,ACCEPTABLE,2021-08-10 07:19:00,2021-08-10 07:40:00,0:21,OUT,RTC 82 / Franklin Reinauer / Freedom/ RTC 105 ...
2869,20442,2880.0,1 TUG / BARGE,2021-08-11 20:00:00,OUT,8/11/2021 14:25,5:35,ACCEPTABLE,2021-08-11 19:43:00,2021-08-11 19:56:00,0:13,OUT,Nicole Reinauer / Justice / RTC 135
2870,20443,2881.0,1 TUG / BARGE,2021-08-11 22:30:00,IN,8/11/2021 14:25,8:05,ACCEPTABLE,2021-08-11 21:55:00,2021-08-11 22:08:00,0:13,OUT,Nicole Reinauer / Justice / RTC 103

In [81]:
#Converting 4 date time columns into datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])
df['End Time'] = pd.to_datetime(df['End Time'])
df['ETA Bridge'] = pd.to_datetime(df['ETA Bridge'])
df['Email Sent'] = pd.to_datetime(df['Email Sent'])
df.dtypes

Vehicle  ID                 object
Lift ID                    float64
Vessel(s)                   object
ETA Bridge          datetime64[ns]
Direction                   object
Email Sent          datetime64[ns]
Advanced Notice             object
2 Hours Notice?             object
Start Time          datetime64[ns]
End Time            datetime64[ns]
Duration                    object
Direction.1                 object
Vessel(s).1                 object
Predict Error      timedelta64[ns]
dtype: object

In [70]:
#Create a new column to find the difference between predicted and actual time
df['Predict Error'] =  df['ETA Bridge'] - df['Start Time']
df.describe()

           Lift ID                Predict Error
count  2672.000000                         2871
mean   1422.845060  -1 days +23:59:00.480668757
std     822.514817    0 days 03:37:39.285910021
min       1.000000            -2 days +23:03:00
25%     713.750000            -1 days +23:48:00
50%    1418.500000              0 days 00:00:00
75%    2136.250000              0 days 00:10:00
max    2881.000000              4 days 23:55:00

In [102]:
df['Notice Time'] = df['Start Time'] - df['Email Sent']
df[df['2 Hours Notice?'] == 'TOO LATE']['Notice Time']

24     -1 days +23:55:00
44       0 days 00:27:00
96       0 days 00:42:00
123      0 days 00:53:00
179      0 days 00:31:00
183      0 days 00:06:00
184    -1 days +23:59:00
197    -1 days +23:49:00
198      0 days 00:36:00
276      0 days 00:08:00
277      0 days 00:34:00
286      0 days 00:52:00
287      0 days 00:26:00
416    -1 days +13:08:00
417    -1 days +15:33:00
465      0 days 00:39:00
468      0 days 01:24:00
493      0 days 00:33:00
726      0 days 01:13:00
1078     0 days 00:37:00
1088     0 days 03:10:00
1089     0 days 04:11:00
1140     0 days 00:10:00
1164     0 days 00:14:00
1204     0 days 00:01:00
1205     0 days 00:35:00
1221     0 days 00:22:00
1259     0 days 00:49:00
1278   -1 days +23:30:00
1279     0 days 00:17:00
1409     0 days 00:32:00
1662     0 days 00:10:00
1694     0 days 00:11:00
1695     0 days 01:06:00
1707     0 days 00:05:00
2059     0 days 00:07:00
2244   -1 days +23:52:00
2245     0 days 00:59:00
2252     0 days 00:06:00
2253     0 days 00:56:00
2335     0 days 07:37:00
2336     0 days 08:44:00
2337     0 days 03:56:00
2338     0 days 04:23:00
2375     0 days 00:39:00
2489     0 days 00:02:00
2543     0 days 00:44:00
2546     0 days 00:45:00
2640     0 days 00:35:00
2661     0 days 00:42:00
2665     0 days 00:43:00
2703     0 days 00:11:00
2736     0 days 00:58:00
2816     0 days 00:47:00
2819     0 days 00:12:00
2843     0 days 00:33:00
2866     0 days 00:17:00
Name: Notice Time, dtype: timedelta64[ns]

In [ ]:
#TODO: 
#1. Figure out the condition for 2 hr notice column
#2. Split up the datetime in Start datetime into day, month and year
#3. Incorporate the weather as a feature